.App {
  margin: 3%;
  display: flex;
  justify-content: space-around;
}
main h2 {
  margin: 20px 0px;
}
aside {
  width: 20%;
}
.Comment {
  display: flex;
  align-items: center;
}
.Comment * {
  margin: 10px 20px;
}
